body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f8f6fb;
  color: #333;
}

header {
  background-color: #d8bfd8;
  text-align: center;
  padding: 20px;
}

nav {
  margin-top: 10px;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
  color: black;
}

main {
  max-width: 900px;
  margin: 30px auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
}

canvas {
  max-width: 100%;
  margin-bottom: 30px;
}